*{
box-sizing:border-box;
}
h1{font-size: 3.4em;}
h2{font-size: 3.1em;}
h3{font-size: 3.1em;}
h4{font-size: 3.1em;}
p{ font-size: 1,5em;}

#hero{
    background-color: rgb(212, 29, 29);
    align-items: center;
}